@font-face {
  font-family: "IndustryBook";
  src: url("../fonts/IndustryBook.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "IndustryBook";
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #070606;
}

.flexContainer {
  display: flex;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}
.headerContainer {
  padding-left: 92px;
  padding-right: 80px;
}

.header {
  height: 107px;
  background: #dfcfba;
  display: flex;
  align-items: center;
}
.inMainPage {
  margin-top: 30px;
}
.logo {
  width: 108px;
  height: 78px;
  object-fit: contain;
}
.brand {
  display: flex;
}
.container {
  max-width: 1400px;
}
.brandText {
  width: 155px;
  padding: 7px 10px;
  height: 62px;
  font: normal normal normal 18px/22px "IndustryBook";
  letter-spacing: 0px;
  color: #070606;
  text-transform: uppercase;
  margin-right: 62px;
}

.menuList {
  display: flex;
  justify-content: space-between;
  color: #070606;
  margin-top: 30px;
}

.menuElem {
  text-transform: uppercase;
  color: #070606;
  margin: 0 18px;
}

.actionButton {
  width: 234px;
  height: 43px;
  background: #dfcfba 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  margin-top: 19px;
  display: block;
  text-align: center;
}
.tel {
  text-decoration: none;
  font-size: 20px;
  font: normal normal normal 20px/24px Helvetica Neue;
  letter-spacing: 0px;
  color: #070606;
  margin-top: 7px;
}

/* ------ */
.hero {
}

.heroContainer {
  padding-top: 180px;
  padding-bottom: 80px;
}
.heroRight {
  padding-left: 835px;
  padding-top: 36px;    
  padding-left: 52vw;
}
.heroText {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #030303;
  text-align: center;
  line-height: 80px;
  text-transform: uppercase;
  max-width: 528px;
  line-height: 100px;
  margin-left: -140px;
}
.heroDescr {
  font-size: 19px;
  max-width: 528px;
  text-align: center;
  font-weight: 600;
  margin-left: -140px;
  padding-bottom: 40px;
}
.heroForm {  
  width: 368px;
}
.heroInput {
  height: 43px;
  box-shadow: 0px 3px 6px #00000093;
  border: 4px #dfcfba solid;
  outline: none;
  padding: 0 10px;
  width: 368px;
  margin-bottom: 15px;
  box-shadow: 0px 3px 6px #00000093;
}
.heroSubmit {
  font-size: 18px;
  font-weight: bold; 
  background: #dfcfba; 
  width: 368px;
  height: 73px;
  box-shadow: 0px 3px 6px #00000093;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 368px;  
}
.formDescriptionContainer {
  width: 259px;
  font-size: 18px;
  font-weight: 700;
}

.advantages {
  padding: 40px 140px;
}
.backgroundBlock {
  position: absolute;    
  z-index: -1;
  display: flex;
  background: url('../images/Background.jpeg');
  background-size: contain;
  width: 100%;
  height: 1000px;
}
.leftBack img {
  height: 900px;
  width: 835px;
  width: 52vw;
  object-fit: cover;
}
/* ---advantages--- */
.advantages {
  margin-top: 20px;
}
.advBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 18px;
  font-weight: 600;
}
.advImg {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 6px #00000029;
  width: 134px;
  height: 88px;
}
.advText {
  margin-top: 20px;
  height: 40px;
}