@font-face {
  font-family: "IndustryBook";
  src: url("../fonts/IndustryBook.ttf") format("truetype");
}
@font-face {
  font-family: "Impact";
  src: url("../fonts/Impact.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "IndustryBook";
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #070606;
}

.flexContainer {
  display: flex;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}
.headerContainer {
  /* padding-left: 92px;
  padding-right: 80px; */
}

.header {
  height: 107px;
  background: #dfcfba;
  display: flex;
  align-items: center;
}
.inMainPage {
  margin-top: 30px;
}
.logo {
  width: 108px;
  height: 78px;
  object-fit: contain;
}
.brand {
  display: flex;
}
.container {
  max-width: 1400px;
}
.menuContainer {
  flex: 1;
  max-width: 550px;
  width: 90%;
  /* margin: 0 2vw; */
  display: flex;
  justify-content: flex-end;
}
.brandText {
  width: 155px;
  padding: 7px 10px;
  height: 62px;
  font: normal normal normal 18px/22px "IndustryBook";
  letter-spacing: 0px;
  color: #070606;
  text-transform: uppercase;
  /* margin-right: 62px; */
}

.menuList {
  display: flex;
  justify-content: space-between;
  color: #070606;
  /* margin-top: 30px; */
}

.menuElem {
  text-transform: uppercase;
  color: #070606;
  margin: 0 18px;
}

.actionButton {
  width: 234px;
  height: 43px;
  background: #dfcfba 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  /* margin-top: 19px; */
  display: block;
  text-align: center;
}
.tel {
  text-decoration: none;
  font-size: 20px;
  font: normal normal normal 20px/24px Helvetica Neue;
  letter-spacing: 0px;
  color: #070606;
  margin-top: 7px;
}

/* ------ */
.hero {
}

.heroContainer {
  padding-top: 180px;
  padding-bottom: 80px;
}
.heroRight {
  padding-left: 835px;
  padding-top: 36px;
  padding-left: 52vw;
}
.heroText {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #030303;
  text-align: center;
  line-height: 80px;
  text-transform: uppercase;
  max-width: 528px;
  line-height: 100px;
  margin-left: -140px;
}
.heroDescr {
  font-size: 19px;
  max-width: 528px;
  text-align: center;
  font-weight: 600;
  margin-left: -140px;
  padding-bottom: 40px;
}
.heroForm {
  width: 90%;
  max-width: 368px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heroInput {
  height: 43px;
  box-shadow: 0px 3px 6px #00000093;
  border: 4px #dfcfba solid;
  outline: none;
  padding: 0 10px;
  width: 90%;
  max-width: 368px;
  margin-bottom: 15px;
  box-shadow: 0px 3px 6px #00000093;
}
.heroSubmit {
  font-size: 18px;
  font-weight: bold;
  background: #dfcfba;
  width: 90%;
  max-width: 368px;
  height: 73px;
  box-shadow: 0px 3px 6px #00000093;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90%;
  max-width: 368px;
}
.formDescriptionContainer {
  width: 90%;
  max-width: 259px;
  font-size: 18px;
  font-weight: 700;
}

.backgroundBlock {
  position: absolute;
  z-index: -1;
  display: flex;
  width: 100%;
  height: 1000px;
}
.backgroundBlock:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/Background.jpeg");
  background-size: contain;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}
.leftBack img {
  height: 900px;
  width: 835px;
  width: 52vw;
  object-fit: cover;
}
/* ---advantages--- */
.advantages {
  /* padding: 40px 140px; */
  width: 90%;
  max-width: 1150px;
  margin-top: 40px;
  margin-bottom: 80px;
}
.advantages .row {
  justify-content: center;
}
.advBlock {
  display: flex;
  /* justify-content: center; */
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 18px;
  font-weight: 600;
  max-width: 200px;
  padding-bottom: 25px;
}
.advImg {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 6px #00000029;
  width: 134px;
  height: 88px;
}
.advText {
  margin-top: 20px;
  /* height: 40px; */
}
/* ------ */
/* ---advantages--- */
.aboutUs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.headBlock {
  position: relative;
}

.headBlockImg {
  background: transparent url("../images/Asset 28.png") 0% 0% no-repeat
    padding-box;
  background-size: cover;
  width: 305px;
  height: 250px;
}

.aboutHeader {
  position: absolute;
  font: normal normal normal 35pt Impact;
  letter-spacing: 0px;
  color: #020202;
  text-transform: uppercase;
  left: 260px;
  white-space: nowrap;
  top: 50px;
}

.descrBlock {
  width: 90%;
  max-width: 340px;
}

.descrBlock p {
  margin-top: 40px;
}

.aboutTextBlock {
  /* max-width: 400px; */
  padding-right: 165px;
}

.inBlockImages {
  width: max-content;
  height: auto;
  margin-top: 50px;
}
.inBlockImages img {
  max-width: 400px;
}
/* ------ */
.products {
  margin-top: 160px;
  text-align: center;
}

.productsDescr {
  font-size: 24px;
  font-weight: bold;
  width: 90%;
  max-width: 464px;
  margin: auto;
}

.impactHeader {
  font-family: "Impact";
  font-size: 40px;
  text-align: center;
}

.productsHeader {
  position: relative;
}
.productsHeader::after {
  content: "";
  background: transparent url("../images/Asset 30.png") 0% 0% no-repeat;
  background-size: contain;
  position: absolute;
  width: 164px;
  height: 92px;
  top: 13px;
  transform: translateX(37px);
}

.productsHeader::before {
  content: "";
  background: transparent url("../images/Asset 30.png") 0% 0% no-repeat
    padding-box;
  background-size: contain;
  position: absolute;
  width: 164px;
  height: 92px;
  transform: scale(-1, 1) translateX(200px);
  top: 13px;
}
.prContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 55px;
}
.prBlockImage {
  width: 309px;
  height: 435px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  border: 1px solid #707070;
  background-size: 90% 90% !important;
  background-position: center !important;
  text-transform: uppercase;
  padding: 0 50px;
}

.prImg1 {
  background: transparent url("../images/Limestone.png") no-repeat;
}

.prImg2 {
  background: transparent url("../images/Granite Stone.png") no-repeat;
}

.prImg3 {
  background: transparent url("../images/Cast Stone.png") no-repeat;
}

.actionPrButton {
  font-size: 18px;
  width: 140px;
  height: 40px;
  color: #ffffff;
  background: #070606 0% 0% no-repeat padding-box;
  box-shadow: 6px 6px 6px #4d494929;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 40px auto;
  cursor: pointer;
}

/*  */
.portfolio {
  margin-top: 86px;
  padding-top: 74px;
  padding-bottom: 160px;
  position: relative;
}
.portfolio:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  background: url(../images/Background.jpeg);
  background-size: cover;
  z-index: -1;
  opacity: 0.6;
}
.imgBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgBlock img {
  padding: 40px 0;
  width: 96%;
  max-width: 524px;
  /* height: 274px; */
}
.residental {
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}
.comercia {
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.portfolioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap-reverse; */
}
.smallHeader {
  font-size: 44px;
}
.moreButton {
  max-width: 206px;
  width: 100%;
  height: 64px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0px 6px 6px #00000080;
  border: 1px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
.showRoom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* overflow: hidden; */
}
.srVideo {
  max-width: 845px;
  width: 90%;
  height: 431px;
  border: 1px solid #95989a;
}
.shHeader {
  width: 200px;
}
.shLeftImage {
  width: 200px;
}
.shLBlock {
  height: 165px;
  width: 200px;
  position: absolute;
  right: 68px;
  top: -60px;
}
.shLeftBack {
  max-width: 476px;
  width: 100%;
  height: 360px;
  position: absolute;
  left: 0;
  top: 200px;
}

.shLeftBack:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  background: url(../images/Background.jpeg);
  background-size: cover;
  opacity: 0.43;
  z-index: -1;
}
.appButtonContainer {
  margin-top: 40px;
  width: 90%;
  max-width: 845px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.appButton {
  border: 1px solid #707070;
  width: 283px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.leftDescr {
  width: 201px;
  font-size: 20px;
  font-weight: 600;
}
/* ----- */
.questions {
  height: 292px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/StoneAge-40.png");
  margin: 110px 0;
  background-size: cover;
}
.queButton {
  max-width: 749px;
  width: 90%;
  height: 64px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 6px 6px 6px #00000029;
}
/*  */
.downloadCat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 160px;
}
.dwContainer {
  background: url(../images/AdobeStock_265310585.png) padding-box;
  position: relative;
  z-index: -1;
  width: 90%;
  max-width: 848px;
  min-height: 400px;
  padding-top: 68px;
}
.dwContainer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  top: -50px;
  left: 0;
  background: url(../images/Asset\ 15.png) no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.dwDescr {
  text-align: center;
  margin: auto;
  margin-top: 39px;
  margin-bottom: 49px;
  width: 90%;
  max-width: 590px;
}
.dwButtCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.dwButtCont .actionPrButton {
  margin: 10px auto;
}

/*  */
.blog {
  margin-bottom: 93px;
}
.blogHeader {
  position: relative;
  padding-right: 200px;
  text-align: center;
}
.blogHeaderText {
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  position: relative;
  z-index: 1;
}
.blogHeader:after {
  content: "";
  height: 1px;
  background: #707070;
  position: absolute;
  width: 100%;
  left: 0;
  top: 30px;
}

.latestProjects {
  color: #707070;
  font-size: 28px;
  font-weight: 600;
  padding-left: 40vw;
}

/*  */
.postImage {
  width: 200px;
  height: 100px;
  /* width: 626px;
  height: 386px; */
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*  */
.subscribe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 260px;
  margin-bottom: 62px;
}
.footer:after {
  background: url(../images/Base.png) padding-box;
  opacity: 0.33;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.subInput {
  padding: 11px 36px;
  max-width: 593px;
  height: 51px;
  font-size: 22px;
  flex: 1;
}
.subSubmit {
  max-width: 381px;
  height: 51px;
  border: 0;
  margin-left: 31px;
  box-shadow: 0px 6px 6px #00000029;
  background: #fff;
  font-size: 24px;
  font-weight: 600;
  flex: 1;
}
.subscribeHeader {
  font-size: 38px;
  text-align: center;
  margin-bottom: 22px;
}
.subscribeFormContainer {
  max-width: 1010px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*  */
.clientsHeader {
  position: relative;
  padding-left: 200px;
  text-align: center;
}
.clientsHeaderText {
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  position: relative;
  z-index: 1;
}

/*  */
.sliderSwFixCss .swiper-container {
  padding-bottom: 120px;
}
.clientsSlider {
  background: #f5f0ea;
  height: 445px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.sliderSwFixCss .swiper-pagination-bullet {
  width: 19px;
  height: 19px;
  border: 1px solid #000000;
  background: white;
}
.sliderSwFixCss .swiper-pagination-bullet:hover {
  opacity: 0.9 !important;
}
.sliderSwFixCss .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #020202;
}
/*  */
.contact {
  margin: auto;
  margin-top: 160px;
  margin-bottom: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0 30px;
}
.contactHeader.impactHeader {
  text-align: left;
}
.contactTextBlock {
  /* padding-left: 120px;
  padding-right: 65px; */
}
.contactDescr {
  font-family: Arial;
  font-size: 20px;
  color: #020202;
  margin-top: 41px;
  margin-bottom: 77px;
}
.contactInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactIn {
  border: 1px solid #bfb7b7;
  max-width: 340px;
  width: 90%;
  height: 40px;
  margin-right: 20px;
  padding: 0 30px;
}
.contactSub {
  background: #f3eeee;
  width: 120px;
  height: 40px;
  border: 0;
}
.contactAddressContainer {
  display: flex;
  margin-top: 76px;
}
.contactAddress {
  font-size: 18px;
  margin-right: 81px;
}
.contactMap {
  min-width: 320px;    
  margin-left: 60px;
  flex: 1;
  height: 400px;
  border: 1px solid #eee;
}
/*  */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 200px;
  width: 100%;
  padding: 30px 20px;
  font-family: Arial;
  position: relative;
}
.footer:after {
  background: url(../images/Base.png) padding-box;
  opacity: 0.58;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.footerLogo img {
  width: 108px;
  height: 78px;
}
.footerMenu {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  justify-content: space-between;
}
.menuLi {
  font-size: 14px;
}
.ftMenuContLeft {
  width: 125px;
  margin-right: 60px;
}
.ftMenuContRight {
  margin-right: 20px;
}
.footerFormDescr {
  font-size: 14px;
}
.footerInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerIn {
  background: transparent;
  background: #ffffff99;
  border: 1px solid #050505;
  border-radius: 4px 0px 0px 4px;
  width: 210px;
  height: 40px;
  margin-right: 40px;
  font-size: 12px;
  padding: 0 10px;
}
.footerSub {
  width: 60px;
  height: 40px;
  background: #575656 0% 0% no-repeat padding-box;
  border: 0;
  border-radius: 0px 4px 4px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.footerContact {
  color: #0d0c0c;
}

.footerCopyright {
  padding-top: 31px;
  width: 100%;
  text-align: left;
  color: #605f5f;
  max-width: 1200px;
}

@media (max-width: 992px) {
  .appButtonContainer {
    justify-content: center;
  }
  .leftDescr {
    padding-bottom: 20px;
  }
  .menuList {
    flex-direction: column;
    align-items: center;
  }
  .actionButton {
    margin-left: 20px;
  }
  .menuContainer .navbar-collapse {
    position: absolute;
    top: 100px;
    left: 0;
    /* background: #dfcfba; */
    background: rgb(255 255 255);
    width: 100%;
  }
  .menuElem {
    margin: 0 18px;
    padding: 19px;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eee;
  }
  /* @media */
  .backgroundBlock {
    height: 100%;
  }
  /* .leftBack {
  } */
  .leftBack img {
    height: 90%;
    opacity: 0.3;
  }
  .heroRight {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .heroRight div {
    margin: 0;
  }
  .heroText {
    font-size: 4em;
    line-height: 1em;
  }
  /* @media */
  .aboutTextBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .aboutHeader {
    position: static;
  }
  .headBlockImg {
    display: none;
  }
  .descrBlock p {
    margin-top: 18px;
  }
  .aboutImgBlock {
    min-width: 407px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .inBlockImages {
    margin-top: 10px;
  }
  .productsHeader::before,
  .productsHeader::after {
    display: none;
  }
  /* @media */
  .portfolioContainer {
    padding: 0 30px;
  }
  .residental {
    /* padding-top: 30px; */
    /* padding-left: 30px; */
  }
  .smallHeader {
    font-size: 33px;
  }
  /* @media */
  .subscribe {
    padding: 40px 0;
  }
  .subscribeFormContainer {
    justify-content: center;
  }
  .subscribeHeader {
    padding: 0 10px;
  }
  .subInput {
    margin-bottom: 15px;
    width: 100%;
  }
  .subSubmit {
    white-space: nowrap;
    padding: 0 30px;
    margin: 0;
    width: 100%;
    max-width: max-content;
    margin-bottom: 15px;
  }
  /* @media */
  .top > div {
    margin: 15px 0;
  }
  /*  */
  .contact {
    margin: 160px auto;
    justify-content: center;
    width: 90%;
  }
  .contactTextBlock {
    padding-left: 0;
    padding-right: 0;
  }
  /*  */
  .contactAddress {
    margin-right: 0;
    padding-bottom: 20px;
  }
  .contactCoords div {
    white-space: nowrap;
  }
  .contactAddressContainer {
    display: block;
    padding-bottom: 20px;
  }
  .contactDescr {
    margin: 20px 0;
  }
  /*  */
  .shLeftBack {
    top: 0;
  }
  /*  */
  .moreButton {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .footerIn {
    margin-right: 5px;
    width: 100%;
  }
  .smallHeader {
    font-size: 23px;
  }

  .queButton {
    font-size: 16px;
  }
  .clientsHeader {
    padding-left: 0;
  }

  .portfolioContainer {
    flex-wrap: wrap;
  }
  .portfolioContainer > div {
    align-items: center;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 20px;
  }
  .heroText {
    font-size: 2.9em;
    padding: 10px;
  }
  .brandText {
    font-size: 15px;
  }
  .aboutImgBlock{
    min-width: 90%;
  }
  .contactMap {    
    margin-left: 0;
    min-width: 90%;
  }
  /**/
  .prBlockImage  {
    width: 295px;    
  }

  .logo {
    width: 80px;
  }
  .brandText {
    font-size: 14px;
    line-height: 19px;
    padding-top: 10px;
  }
}
